<div class="text-center lg:text-left">
  <button styled-orange class="w-9/12 my-2 mb-4 lg:mx-0 lg:my-4 lg:w-fit" [routerLink]="['request']">Request a Review</button>

  <div class="bg-yellow-50 border border-yellow-200 rounded-md p-3 m-3 text-gray-700 text-sm text-center">
    <i class="fa-brands fa-discord inline-block mr-2"></i>
    <a href="https://discord.gg/sGCzMJtebJ" target="_blank" class="inline-block underline">Check out our Discord</a>
    <p class="inline-block ml-1">for updates, bug reports, and reviewer applications!</p>
  </div>

  <div class="lg:flex text-left">
    <div class="lg:flex-initial shadow-md bg-gray-50 rounded-md p-3 lg:p-5 my-3 lg:my-0 lg:mr-4" *ngIf="canPostReview$ | async">
      <div class="bg-gray-100 rounded-md p-2">
        <img src="{{ userAvatarURL$ | async }}" title="User avatar" class="m-auto rounded-md my-2" />
        <h1 class="font-semibold text-lg text-center text-gray-900">{{ userName$ | async }}</h1>
        <p *ngIf="userAccountType$ | async as accountType" class="font-semibold text-gray-800 text-sm text-center">{{ accountType | titlecase }}</p>
      </div>

      <hr class="my-5" />

      <button styled-green class="m-1 lg:mx-0 lg:w-full lg:block" [routerLink]="['compose']">
        <i class="fa-solid fa-pen-to-square mr-2"></i>
        Write Review
      </button>
      <button styled-green class="m-1 lg:mx-0 lg:w-full lg:block" [routerLink]="['view-requests']" *ngIf="canViewRequests$ | async">
        <i class="fa-solid fa-message mr-2"></i>
        View Requests
      </button>

      <hr class="my-4" />

      <button styled-red class="m-1 lg:mx-0 lg:w-full lg:block" [routerLink]="['create-account-token']" *ngIf="canCreateAccountToken$ | async">
        <i class="fa-solid fa-key mr-2"></i>
        Create Token
      </button>

      <button styled-red class="m-1 lg:mx-0 lg:w-full lg:block" [routerLink]="['user-management']" *ngIf="canManageUsers$ | async">
        <i class="fa-solid fa-user mr-2"></i>
        Manage Users
      </button>

      <button styled-blue class="m-1 lg:mx-0 lg:w-full lg:block" [routerLink]="['update-character']">
        <i class="fa-solid fa-arrows-rotate mr-2"></i>
        Update Character
      </button>
    </div>

    <div class="lg:flex-1 shadow-md bg-gray-50 p-3 rounded-md text-left">
      <h1 class="font-FFXIV font-light text-4xl lg:text-5xl text-gray-600 text-center">Reviews</h1>
      <p class="text-sm text-gray-500 text-center my-1.5">- North American Data Center -</p>

      <div class="text-center w-full" *ngIf="{ loading: isLoading$ | async, error: hasError$ | async } as status">
        <div *ngIf="status.loading">
          <i class="fa-solid fa-spinner animate-spin mx-2"></i>
          <p class="inline">Loading Reviews...</p>
        </div>

        <p class="inline" *ngIf="status.error" class="font-bold text-sm text-red-600">
          <i class="fa-solid fa-triangle-exclamation mx-2"></i>
          There was an error loading new reviews.
        </p>
      </div>

      <div class="my-2 px-3 py-2 text-right">
        <div class="text-gray-600 hover:cursor-pointer max-w-fit ml-auto px-3" (click)="toggleFilter()">
          <p class="font-semibold inline-block">Filter</p>
          <i class="fa-solid fa-filter mx-1 inline-block"></i>
        </div>
        <div *ngIf="showFilters" class="mt-2">
          <div class="inline-block align-top text-left">
            <p class="mx-1 text-sm font-semibold">Datacenter</p>
            <select styled aria-placeholder="Datacenter" (change)="filterDatacenter($event)">
              <option value="*">All Datacenters</option>
              <option>Aether</option>
              <option>Primal</option>
              <option>Crystal</option>
            </select>
          </div>
          <div class="inline-block align-top text-left">
            <p class="mx-1 text-sm font-semibold">Tags</p>
            <app-tag-select (onTagsChanged)="filterTags($event)"></app-tag-select>
          </div>
        </div>
      </div>

      <div *ngIf="reviews$ | async as reviews">
        <div *ngIf="filterReviews(reviews) as filtered">
          <div *ngIf="truncateReviews(filtered) as truncated">
            <ng-container *ngFor="let review of truncated">
              <app-review-tile [review]="review"></app-review-tile>
            </ng-container>

            <div
              class="text-center w-full text-lg text-orange-600 hover:cursor-pointer my-2 mb-3"
              *ngIf="filtered.length > displayedReviews"
              (click)="loadMoreReviews()"
            >
              <a class="font-semibold text-center">Load more</a>
              <i class="fa-solid fa-chevron-down mx-2"></i>
            </div>

            <p *ngIf="reviews.length > 0 && truncated.length === 0" class="text-center text-gray-700 font-semibold text-lg my-3">
              Your search did not have any matches.
            </p>
          </div>
        </div>

        <p *ngIf="reviews.length === 0" class="text-center text-gray-700 font-semibold text-lg">There aren't any reviews yet!</p>
      </div>
    </div>

    <app-report-list *ngIf="canViewReports$ | async"></app-report-list>
  </div>
</div>
