<div class="px-6 my-4">
  <!-- <p class="text-3xl text-gray-800 text-center hover:cursor-pointer" [routerLink]="['/']">MiqoMixers</p> -->
  <img
    src="../../../../assets/img/site_header.png"
    class="max-w-xs lg:max-w-xl m-auto hover:cursor-pointer"
    title="Site logo"
    alt="Orc Logo"
    [routerLink]="['/']" />
  <p class="text-center text-gray-800 text-sm lg:text-xl font-light">Connecting players to Eorzea's best clubs and venues.</p>
  <hr class="border-gray-400 border mt-4" />
</div>
