<div>
  <div class="flex">
    <!-- Main Menu -->
    <div class="flex-initial w-64 pr-2 border-r border-gray-400">
      <div class="pb-5 px-2 border-b border-gray-400">
        <h1 class="text-2xl font-semibold">My CritCase</h1>
      </div>

      <ui-case-nav-category label="Campaigns" fa_icon="fa-solid fa-map">
        <ng-container *ngFor="let campaign of campaigns$ | async">
          <div class="flex px-3 py-1 rounded-md hover:bg-gray-200 active:bg-gray-300">
            <i class="flex-initial self-center fa-solid fa-bookmark"></i>
            <button
              class="flex-auto self-center ml-2 text-left max-w-[10rem] overflow-hidden text-ellipsis whitespace-nowrap hover:cursor-pointer"
              [routerLink]="['/dashboard']"
              [queryParams]="{ campaign: campaign.campaignID }">
              {{ campaign.name }}
            </button>
          </div>
        </ng-container>
        <div class="flex px-3 py-1 rounded-md hover:bg-gray-200 active:bg-gray-300">
          <i class="flex-initial self-center fa-solid fa-plus"></i>
          <button
            class="flex-auto self-center ml-2 text-left text-sm max-w-[10rem] overflow-hidden text-ellipsis whitespace-nowrap hover:cursor-pointer"
            [routerLink]="['/dashboard']">
            New Campaign
          </button>
        </div>
      </ui-case-nav-category>

      <ui-case-nav-category label="Characters" fa_icon="fa-solid fa-user">
        <div class="flex px-3 py-1 rounded-md hover:bg-gray-200 active:bg-gray-300">
          <i class="flex-initial self-center fa-solid fa-plus"></i>
          <button
            class="flex-auto self-center ml-2 text-left text-sm max-w-[10rem] overflow-hidden text-ellipsis whitespace-nowrap hover:cursor-pointer"
            [routerLink]="['/dashboard']">
            New Character
          </button>
        </div>
      </ui-case-nav-category>

      <ui-case-nav-category label="Systems" fa_icon="fa-solid fa-pen-ruler">
        <div class="flex px-3 py-1 rounded-md hover:bg-gray-200 active:bg-gray-300">
          <i class="flex-initial self-center fa-solid fa-plus"></i>
          <button
            class="flex-auto self-center ml-2 text-left text-sm max-w-[10rem] overflow-hidden text-ellipsis whitespace-nowrap hover:cursor-pointer"
            [routerLink]="['/dashboard']">
            New System
          </button>
        </div>
      </ui-case-nav-category>

      <ui-case-nav-category label="Notes" fa_icon="fa-solid fa-book-open">
        <ng-container *ngFor="let pageFolder of pageFolders$ | async">
          <div class="flex px-3 py-1 rounded-md hover:bg-gray-200 active:bg-gray-300">
            <i class="flex-initial self-center fa-solid fa-folder"></i>
            <button
              class="flex-auto self-center ml-2 text-left max-w-[10rem] overflow-hidden text-ellipsis whitespace-nowrap hover:cursor-pointer"
              [routerLink]="['/dashboard']"
              [queryParams]="{ pageFolder: pageFolder.folderID }">
              {{ pageFolder.folderName }}
            </button>
          </div>
        </ng-container>
        <div class="flex px-3 py-1 rounded-md hover:bg-gray-200 active:bg-gray-300">
          <i class="flex-initial self-center fa-solid fa-plus"></i>
          <button
            class="flex-auto self-center ml-2 text-left text-sm max-w-[10rem] overflow-hidden text-ellipsis whitespace-nowrap hover:cursor-pointer"
            [routerLink]="['/dashboard']">
            New Folder
          </button>
        </div>
      </ui-case-nav-category>
    </div>
  </div>
</div>
