<div class="py-4 shadow-md bg-white sticky">
  <div class="flex container mx-auto items-center">
    <div class="flex-1">
      <p class="inline-block">Logo</p>
      <p class="inline-block" [routerLink]="['']">CritCase</p>
    </div>
    <div class="flex-auto"></div>
    <div class="flex-1 text-right items-center">
      <ng-container *ngIf="accountInfo$ | async as accountInfo; else loggedOut">
        <p class="inline-block mx-2 align-middle" (click)="toggleMenu()">{{ accountInfo.displayName }}</p>
        <button mat-button [matMenuTriggerFor]="menu" class="align-middle">
          <img src="https://avatars.githubusercontent.com/u/5459165?v=4" class="max-w-[40px] rounded-xl border border-gray-300" />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <i class="fa-solid fa-gear pr-2"></i>
            Account Settings
          </button>
          <button mat-menu-item>
            <i class="fa-regular fa-circle-question pr-2"></i>
            Help
          </button>
          <button mat-menu-item (click)="logOut()">
            <i class="fa-solid fa-right-from-bracket pr-2"></i>
            Log out
          </button>
        </mat-menu>
      </ng-container>
      <ng-template #loggedOut>
        <button class="inline-block hover:underline" [routerLink]="['/login']">Log in</button>
        <p class="inline-block mx-2">|</p>
        <button class="inline-block hover:underline" [routerLink]="['/register']">Register</button>
      </ng-template>
    </div>
  </div>
</div>
