<div class="py-4 shadow-md bg-white">
  <div class="flex container mx-auto items-center">
    <div class="flex-1">
      <p class="inline-block">Logo</p>
      <p class="inline-block" [routerLink]="['']">CritCase</p>
    </div>
    <div class="flex-auto"></div>
    <div class="flex-1 text-right items-center">
      <ng-container *ngIf="accountInfo$ | async as accountInfo; else loggedOut">
        <p class="inline-block mx-2 align-middle" (click)="toggleMenu()">{{ accountInfo.displayName }}</p>
        <button mat-button [matMenuTriggerFor]="menu" class="align-middle">
          <img src="https://avatars.githubusercontent.com/u/5459165?v=4" class="max-w-[40px] rounded-xl border border-gray-300" />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item (click)="logOut()">Log out</button>
        </mat-menu>
      </ng-container>
      <ng-template #loggedOut>
        <a class="inline-block hover:underline" [routerLink]="['/login']">Log in</a>
        <p class="inline-block mx-2">|</p>
        <a class="inline-block hover:underline" [routerLink]="['/register']">Register</a>
      </ng-template>
    </div>
  </div>
</div>
