<div class="my-4 text-center">
  <i class="fa-solid fa-triangle-exclamation text-5xl text-red-700"></i>
  <h1 class="text-7xl font-semibold text-red-800 text-center mb-2">Whoops!</h1>
  <p class="text-center text-gray-600 p-2 my-2">Somebody's summoning a primal again...</p>
</div>

<div class="mx-auto w-11/12 lg:w-4/5 bg-gray-50 text-center rounded-md shadow-md p-5 my-4">
  <p class="text-gray-700">The server returned an error, and your request did not complete. If the issue persists, try again in a few minutes.</p>
  <button styled-blue [routerLink]="['']" class="mt-4">Back to Reviews</button>
</div>
