<div class="mx-auto my-3 lg:my-0 w-11/12 lg:w-4/5 bg-gray-50 rounded-md shadow-md p-5">
  <h1 class="text-2xl font-bold my-1 text-center">Welcome to MiqoMixers!</h1>
  <p class="text-sm text-gray-600 mb-3 text-center">A website dedicated to the Final Fantasy: XIV night scene.</p>

  <div class="py-3 px-5 mt-5 border border-gray-400 text-gray-800 rounded-md">
    <div class="mt-1">
      <h1 class="text-xl font-semibold mb-2">What is MiqoMixers?</h1>
      <p class="my-2">
        MiqoMixers is a brand-new, curated review database of Eorzea's greatest roleplay venues. We're on a mission to connect players like you to the
        best events around. Browse our list of clubs, cafes, concert halls, and more, or suggest a new locale for our team to visit! MiqoMixers is a
        fan-made database that's always growing and collecting new places to visit.
      </p>
      <p class="my-2">
        Our goal is to provide a simple, public list of venues for others to find. We do the work to categorize it so you spend less time scrolling
        and more time on the dance floor!
      </p>
    </div>
    <div class="my-5">
      <h1 class="text-xl font-semibold mb-2">How long have you been around?</h1>
      <p class="my-2">
        This website is brand-new, having been live since Summer 2022. If you found this site helpful, we'd love it if you spread the word! Please be
        patient as we continue fine-tuning our site, as it is still in development.
      </p>
    </div>
    <div class="my-5">
      <h1 class="text-xl font-semibold mb-2">Are you affiliated with anyone?</h1>
      <p class="my-2">
        MiqoMixers is not affiliated with Square Enix or Final Fantasy XIV in any official or legal way. We're just a bunch of gamers who enjoy the
        social events put on by other players in the game.
      </p>
      <p class="my-2">
        Although we don't partner with or advertise for specific venues, we do accept review requests and compensation. Any reviews that were given
        such treatment will be denoted with a
        <app-tag text="Sponsored"></app-tag>
        or
        <app-tag text="Exclusive Access"></app-tag>
        tag for transparency.
      </p>
    </div>
    <div class="my-5">
      <h1 class="text-xl font-semibold mb-2">Can I apply to be a reviewer?</h1>
      <p class="my-2">Applications and info on how to become a reviewer can be found on our Discord server at the bottom of the site.</p>
    </div>
    <div class="mt-5">
      <h1 class="text-xl font-semibold mb-2">Can you take down a review?</h1>
      <p class="my-2">
        If there is a problem with one of our reviews, please use the "report" link at the bottom of the review. Note that we will only answer
        takedown requests from the owner of a venue, and we may ask that you prove ownership before we take action.
      </p>
    </div>
  </div>
</div>
