<form class="px-4" [formGroup]="loginInfoForm" #form="ngForm" (ngSubmit)="this.submit()">
  <h1 class="text-lg text-gray-600 text-center">Unlock your CritCase</h1>

  <div class="mt-10">
    <ui-form-error [formName]="FormName.LOG_IN"></ui-form-error>
    <div class="my-4">
      <ui-form-field-error [form]="form" [errorFor]="'email'"></ui-form-field-error>
      <input styled class="w-full" formControlName="email" placeholder="Email" />
    </div>

    <div class="my-4">
      <ui-form-field-error [form]="form" [errorFor]="'password'"></ui-form-field-error>
      <input styled class="w-full" formControlName="password" placeholder="Password" type="password" />
    </div>
  </div>

  <div class="flex items-center">
    <div class="flex-initial text-gray-500 text-sm">
      <p class="inline-block">Don't have an account?</p>
      <a [routerLink]="['/register']" type="button" class="inline-block mx-1 underline hover:text-gray-600">Register</a>
    </div>

    <div class="flex-auto"></div>

    <app-submit-button class="flex-auto" label="Log In"></app-submit-button>
  </div>
</form>
