<ng-container *ngIf="isLoading$ | async; else notLoading">
  <button class="w-full py-2 rounded-sm bg-[#6abaf7] text-gray-100 font-semibold shadow-sm hover:cursor-progress" type="submit" disabled="disabled">
    <i class="fa-solid fa-spinner animate-spin mx-2"></i>
    Log In
  </button>
</ng-container>
<ng-template #notLoading>
  <button
    class="w-full py-2 rounded-sm bg-[#39A0ED] text-gray-100 font-semibold shadow-sm hover:bg-[#328dd3] active:bg-[#2972aa] active:ring active:ring-[#39A0ED]"
    type="submit">
    Log In
  </button>
</ng-template>
