<div class="shadow-md bg-gray-50 p-3 rounded-md">
  <div class="text-center w-full" *ngIf="{ loading: isLoading$ | async, error: hasError$ | async } as status">
    <div *ngIf="status.loading">
      <i class="fa-solid fa-spinner animate-spin mx-2"></i>
      <p class="inline">Loading Requests...</p>
    </div>

    <p *ngIf="status.error" class="font-bold text-sm text-red-600 inline">There was an error loading new reviews.</p>
  </div>

  <p class="font-bold text-xl text-gray-800 text-center">Club Review Requests</p>
  <p class="text-sm text-gray-600 text-center">Requests from site visitors to review new clubs!</p>

  <div *ngIf="{ value: requests$ | async } as requests">
    <ng-container *ngFor="let request of requests.value">
      <app-request-tile [request]="request" (onDelete)="refreshRequestList()"></app-request-tile>
    </ng-container>

    <p *ngIf="requests.value == ''" class="text-center text-gray-700 font-semibold text-lg my-5">There aren't any requests yet!</p>
  </div>
</div>
