<form class="px-4 mb-4" [formGroup]="createTokenForm" (ngSubmit)="this.submit()">
  <div class="inline-block align-middle my-4">
    <div class="inline-block text-left align-bottom">
      <p class="mx-2 text-sm text-gray-800 font-semibold">Token Access Level</p>
      <ui-form-error [formGroup]="createTokenForm" [errorFor]="'tokenAccessLevel'" [showErrors]="showErrorValidations$"></ui-form-error>
      <select styled formControlName="tokenAccessLevel">
        <option value="GUEST">Guest</option>
        <option value="REVIEWER">Reviewer</option>
        <option value="MODERATOR">Moderator</option>
        <option value="ADMIN">Admin</option>
      </select>
    </div>
  </div>

  <br />

  <div *ngIf="{ isLoading: isLoading$ | async } as data">
    <button styled-blue class="w-full" type="submit" *ngIf="!data.isLoading">Create Token</button>
    <button styled-blue-disabled class="w-full hover:cursor-progress" type="submit" disabled="disabled" *ngIf="data.isLoading">
      <i class="fa-solid fa-spinner animate-spin mx-2"></i>
      Create Token
    </button>
  </div>

  <p *ngIf="submitError$ | async as error" class="mx-2 text-sm text-red-500">{{ error }}</p>
</form>
