<!-- Search Bar -->
<div class="flex">
  <div class="flex-auto"></div>
  <p class="border border-gray-600 text-gray-600 flex-1 max-w-xs p-1 rounded-md">Fake Search</p>
</div>

<!-- Pinned -->
<div>
  <p>Pinned items will go here</p>
</div>

<hr class="my-5" />

<!-- Case Navigation + Chosen View -->
<div class="flex">
  <app-case-nav class="flex-initial mr-6"></app-case-nav>
  <div class="flex-auto">
    <app-campaign-view></app-campaign-view>
    <app-page-folder-view></app-page-folder-view>
  </div>
</div>
