<!-- Search Bar -->
<div class="flex">
  <div class="flex-auto"></div>
  <p class="border border-gray-600 text-gray-600 flex-1 max-w-xs p-1 rounded-md">Fake Search</p>
</div>

<!-- Pinned -->
<div>
  <p>Pinned items will go here</p>
</div>

<hr class="my-5" />

<!-- Case Navigation + Chosen View (side by side, flexbox)-->
<div class="flex">
  <app-case-nav class="flex-initial mr-6"></app-case-nav>
  <div class="flex-auto">
    <p>
      Quibusdam ut dolorem minus deserunt inventore dolore non accusantium. Ab totam itaque commodi cum et. Sapiente rem consequuntur nam non omnis.
      Quo voluptates voluptatem consequatur dolorum veniam praesentium qui. Aspernatur sed temporibus excepturi placeat ut tenetur non est. Est est
      ducimus quibusdam hic officiis molestiae. Consequatur illum reiciendis perferendis voluptatem quasi dolorem ex non. Ut similique dolorem maiores
      est dignissimos. Provident optio et adipisci distinctio. Illo dolores est facere. Voluptate neque commodi cum non eum omnis. Dolorem eaque dicta
      veniam placeat aliquid autem dolore. Rerum et explicabo repellat unde voluptatem repellendus. Quibusdam consequatur voluptate perspiciatis qui.
      Incidunt ab blanditiis recusandae dolorum nesciunt. Perferendis cupiditate ut officiis eius doloremque eveniet. Dolores aliquid consequatur quam
      magnam animi non qui. Sed quae eaque quo. Aliquid incidunt voluptas vel non cumque ut inventore vel. Adipisci fuga et adipisci molestias autem
      voluptatibus. Quia reprehenderit saepe dicta alias qui ut. Facere nisi aliquam itaque sunt quaerat nemo sunt sint. Dolor similique pariatur aut
      quis aut aliquam voluptatum. Doloremque porro ut voluptatem minus ea incidunt.
    </p>
  </div>
</div>
