<form class="p-4" [formGroup]="registerAccountForm" #form="ngForm" (ngSubmit)="this.submit()">
  <div class="text-center">
    <h1 class="text-xl font-bold my-2">Start Your CritCase</h1>
    <p class="text-sm text-gray-600 mb-3">Create an account to store all of your characters, notes, and campaigns in one easy place.</p>
  </div>

  <div class="mt-10">
    <div class="my-4">
      <ui-form-error [form]="form" [errorFor]="'email'"></ui-form-error>
      <input styled class="w-full" formControlName="email" placeholder="Email" />
    </div>

    <div class="my-4">
      <ui-form-error [form]="form" [errorFor]="'password'"></ui-form-error>
      <input styled class="w-full" formControlName="password" placeholder="Password" type="password" />
    </div>

    <div class="my-4">
      <ui-form-error [form]="form" [errorFor]="'confirmPassword'"></ui-form-error>
      <input styled class="w-full" formControlName="confirmPassword" placeholder="Confirm Password" type="password" />
    </div>

    <div class="my-4">
      <ui-form-error [form]="form" [errorFor]="'displayName'"></ui-form-error>
      <input styled class="w-full" formControlName="displayName" placeholder="Display Name" />
    </div>

    <div class="my-4">
      <ui-form-error [form]="form" [errorFor]="'agreeTOS'"></ui-form-error>
      <input id="agreeTOS" type="checkbox" formControlName="agreeTOS" />
      <!-- TODO: these destinations -->
      <label for="agreeTOS" class="text-sm text-gray-600">
        I agree to the
        <a [routerLink]="['']" class="text-gray-700 hover:text-gray-800 hover:underline">Privacy Policy</a>
        and
        <a [routerLink]="['']" class="text-gray-700 hover:text-gray-800 hover:underline">Terms of Service</a>
      </label>
    </div>

    <app-submit-button label="Create Account"></app-submit-button>
  </div>
  <p *ngIf="showInvalidRegistration$ | async" class="mx-2 text-sm text-red-500">
    Your registration was not accepted. Please make sure all your information is correct.
  </p>

  <p *ngIf="showRegisterError$ | async" class="mx-2 text-sm text-red-500">Please double-check your email and password and try again.</p>
</form>
