<form class="px-4 mb-4" [formGroup]="updateCharacterForm" (ngSubmit)="this.submit()">
  <div class="inline-block align-middle my-4">
    <div class="inline-block text-left align-bottom">
      <p class="mx-2 text-sm text-gray-800 font-semibold">Character Name</p>
      <ui-form-error [formGroup]="updateCharacterForm" [errorFor]="'characterName'" [showErrors]="showErrorValidations$"></ui-form-error>
      <input styled formControlName="characterName" placeholder="Tymomo Tymo" />
    </div>
    <div class="inline-block text-left align-bottom">
      <p class="mx-2 text-sm text-gray-800 font-semibold">Character Server</p>
      <ui-form-error [formGroup]="updateCharacterForm" [errorFor]="'characterServer'" [showErrors]="showErrorValidations$"></ui-form-error>
      <select styled formControlName="characterServer">
        <optgroup label="Aether">
          <option>Adamantoise</option>
          <option>Cactuar</option>
          <option>Faerie</option>
          <option>Gilgamesh</option>
          <option>Jenova</option>
          <option>Midgardsormr</option>
          <option>Sargatanas</option>
          <option>Siren</option>
        </optgroup>
        <optgroup label="Primal">
          <option>Behemoth</option>
          <option>Excalibur</option>
          <option>Exodus</option>
          <option>Famfrit</option>
          <option>Hyperion</option>
          <option>Lamia</option>
          <option>Leviathan</option>
          <option>Ultros</option>
        </optgroup>
        <optgroup label="Crystal">
          <option>Balmung</option>
          <option>Brynhildr</option>
          <option>Coeurl</option>
          <option>Diabolos</option>
          <option>Goblin</option>
          <option>Malboro</option>
          <option>Mateus</option>
          <option>Zalera</option>
        </optgroup>
      </select>
    </div>
  </div>

  <br />

  <div *ngIf="{ isLoading: isLoading$ | async } as data">
    <button styled-blue class="w-full" type="submit" *ngIf="!data.isLoading">Update Character</button>
    <button styled-blue-disabled class="w-full hover:cursor-progress" type="submit" disabled="disabled" *ngIf="data.isLoading">
      <i class="fa-solid fa-spinner animate-spin mx-2"></i>
      Update Character
    </button>
  </div>
</form>
