<div class="my-3 lg:mx-3 p-5 shadow-md rounded-sm border border-gray-200">
  <div class="flex">
    <div class="flex-1">
      <div class="flex">
        <p class="flex-1 text-xl font-semibold self-center">{{ request.clubName }}</p>
        <div class="flex-1"></div>
        <button styled-red class="flex-initial" (click)="clickDelete()">
          <i class="fa-solid fa-trash-can" *ngIf="!isDeleting"></i><i class="fa-solid fa-check" *ngIf="isDeleting"></i>
        </button>
      </div>

      <p class="italic">"{{ request.info }}"</p>

      <div class="inline-block text-gray-700 mt-2">
        <div class="inline-block bg-gray-200 rounded-md p-1 px-2 my-1 mr-3">
          <i class="fa-solid fa-location-dot p-1 mr-1"></i>
          <p class="inline text-sm">
            {{ request.clubDatacenter }}, {{ request.clubServer }}, {{ request.clubDistrict }}, Ward {{ request.clubWard }}, Plot
            {{ request.clubPlot }}
          </p>
        </div>

        <div class="inline-block bg-gray-200 rounded-md p-1 px-2 my-1 mr-3">
          <i class="fa-solid fa-clock p-1 mr-1"></i>
          <p class="inline text-sm">{{ request.clubHours }}</p>
        </div>

        <div class="inline-block bg-gray-200 rounded-md p-1 px-2 my-1 mr-3">
          <i class="fa-solid fa-user-pen p-1 mr-1"></i>
          <p class="inline text-sm">{{ request.requestorName }} • {{ request.requestorServer }}</p>
        </div>

        <a href="{{ request.clubWebsite }}" target="_blank" *ngIf="request.clubWebsite?.length > 0" class="inline">
          <div class="inline-block bg-gray-200 rounded-md p-1 px-2 my-1">
            <i class="fa-solid fa-globe p-1 mr-1"></i>
            <p class="inline text-sm">{{ request.clubWebsite }}</p>
            <i class="fa-solid fa-arrow-up-right-from-square text-xs p-1.5 pt-1 align-top text-gray-500"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
