<div *ngIf="isDataLoaded$ | async">
  <div *ngIf="pageFolder$ | async as folder">
    <!-- Header -->
    <div class="flex pb-4 mb-4 border-b border-gray-500">
      <div class="flex-initial self-center">
        <i class="inline-block text-xl mr-2 fa-solid fa-folder"></i>
        <h2 class="inline-block text-xl font-semibold">{{ folder.folderName }}</h2>
      </div>
      <div class="flex-auto"></div>
      <div class="flex-initial self-center text-xl text-gray-500 text-center">
        <button mat-button [matMenuTriggerFor]="folderMenu" class="align-middle">
          <i class="p-2 w-9 fa-solid fa-ellipsis-vertical rounded-md hover:bg-gray-100 active:bg-gray-200"></i>
        </button>
        <mat-menu #folderMenu="matMenu">
          <button mat-menu-item>
            <i class="w-7 fa-solid fa-plus pr-1"></i>
            New Note
          </button>
          <button mat-menu-item>
            <i class="w-7 fa-solid fa-pen-to-square pr-1"></i>
            Edit Folder
          </button>
          <button mat-menu-item>
            <i class="w-7 fa-solid fa-thumbtack pr-1"></i>
            Pin Folder
          </button>
          <button mat-menu-item>
            <i class="w-7 fa-solid fa-user-plus pr-1"></i>
            Share Folder
          </button>
          <button mat-menu-item>
            <i class="w-7 fa-solid fa-trash-can pr-1"></i>
            Delete Folder
          </button>
        </mat-menu>
      </div>
    </div>

    <!-- Pages -->
    <ng-container *ngIf="displayPage$ | async as page; else pageList">
      <!-- Back button header -->
      <div class="flex">
        <div
          class="flex-initial p-2 rounded-md hover:bg-gray-100 hover:cursor-pointer active:bg-gray-200"
          [routerLink]="['/dashboard']"
          [queryParams]="{ pageFolder: folder.folderID }">
          <i class="inline-block align-middle text-lg fa-solid fa-chevron-left"></i>
          <p class="inline-block align-middle px-2">Back</p>
        </div>
        <div class="flex-auto">
          <!-- (TODO: other buttons) -->
        </div>
      </div>

      <app-page-view [page]="page"></app-page-view>
    </ng-container>
    <ng-template #pageList>
      <div class="my-2">
        <div *ngIf="pages$ | async as pages">
          <div *ngIf="pages.length > 0; else empty">
            <ng-container *ngFor="let page of pages">
              <!-- TODO: put this component on its own route? -->
              <ui-page-item
                [page]="page"
                [routerLink]="['/dashboard']"
                [queryParams]="{ pageFolder: folder.folderID, page: page.pageID }"></ui-page-item>
            </ng-container>
          </div>

          <ng-template #empty>
            <p>There aren't any pages in this folder.</p>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</div>
