<form [formGroup]="editPageForm" #form="ngForm" (ngSubmit)="this.submit()">
  <ui-form-error [formName]="FormName.EDIT_PAGE"></ui-form-error>

  <div class="my-2 flex">
    <div>
      <ui-form-field-error [form]="form" [errorFor]="'title'"></ui-form-field-error>
      <p class="text-sm font-semibold">Title</p>
      <input styled formControlName="title" placeholder="Title" />
    </div>
    <div class="mx-2">
      <ui-form-field-error [form]="form" [errorFor]="'privacy'"></ui-form-field-error>
      <p class="text-sm font-semibold">Privacy</p>
      <div class="inline-block">
        <input type="radio" id="public" formControlName="privacy" value="{{ SharePrivacy.PUBLIC }}" class="mx-1" />
        <label for="public">Public</label>
      </div>
      <div class="inline-block mx-2">
        <input type="radio" id="private" formControlName="privacy" value="{{ SharePrivacy.PRIVATE }}" class="mx-1" />
        <label for="private">Private</label>
      </div>
    </div>
  </div>

  <div class="my-3">
    <ui-form-field-error [form]="form" [errorFor]="'body'"></ui-form-field-error>
    <p class="text-sm font-semibold">Body</p>
    <p class="text-xs mt-1 mb-2 text-gray-500">
      CritCase uses
      <a href="https://www.markdownguide.org/basic-syntax" target="_blank" class="underline hover:text-gray-600">markdown</a>
      for page styling.
    </p>
    <textarea styled formControlName="body" placeholder="Once upon a time..."></textarea>
  </div>

  <app-submit-button label="Save"></app-submit-button>
</form>
