<div *ngIf="campaign$ | async as campaign">
  <!-- Header -->
  <div class="flex pb-4 mb-4 border-b border-gray-500">
    <div class="flex-initial self-center">
      <i class="inline-block text-xl mr-2 fa-solid fa-bookmark"></i>
      <h2 class="inline-block text-xl font-semibold">{{ campaign.name }}</h2>
      <p class="text-sm text-gray-700 my-2">{{ campaign.description }}</p>
    </div>
    <div class="flex-auto"></div>
    <div class="flex-initial self-center text-xl text-gray-500 text-center">
      <i class="p-2 w-9 fa-solid fa-pen-to-square inline-block rounded-md hover:bg-gray-100 hover:cursor-pointer active:bg-gray-200"></i>
      <i class="p-2 w-9 mx-3 fa-solid fa-thumbtack rounded-md hover:bg-gray-100 hover:cursor-pointer active:bg-gray-200"></i>
      <i class="p-2 w-9 fa-solid fa-trash-can inline-block rounded-md hover:bg-gray-100 hover:cursor-pointer active:bg-gray-200"></i>
    </div>
  </div>

  <!-- Folders -->
  <div class="my-2">
    <!-- TODO: Folders aren't a member of campaigns. Need to get from state/API -->
    <ng-container *ngFor="let folder of campaign.pageFolders">
      <app-page-folder-button [folder]="folder"></app-page-folder-button>
    </ng-container>
  </div>
</div>
