<div class="mx-auto my-3 lg:my-0 w-11/12 lg:w-4/5 bg-gray-50 rounded-md shadow-md p-2">
  <h1 class="text-2xl font-bold my-2 text-center">Update Character</h1>
  <p class="text-sm text-gray-600 mb-3 text-center">Changed your name in Eorzea? Moved home worlds? Use this form to update your information!</p>
  <p class="text-sm text-gray-600 mb-3 text-center">
    Please don't use this form to impersonate another player. Doing so may result in your reviewer account being deactivated.
  </p>

  <app-update-character-form></app-update-character-form>
</div>
