<div class="my-5 py-3 text-center">
  <i class="fa-solid fa-circle-check text-5xl text-green-600"></i>
  <h1 class="text-4xl font-semibold text-gray-800 text-center my-2">Account created!</h1>
</div>

<div class="mx-auto w-11/12 lg:w-4/5 bg-gray-50 text-center rounded-md shadow-md p-5 my-4">
  <p class="text-gray-700 font-semibold my-3">Welcome to the club!</p>
  <p class="text-gray-700">
    Your reviewer account has been successfully created, and you're ready to publish your own reviews. To get started, head over to the home page by
    using the button below!
  </p>

  <div *ngIf="accountType$ | async as accountType" class="text-left text-gray-600">
    <hr class="border-gray-500 my-5" />
    <p>
      Your <strong>{{ accountType | titlecase }}</strong> account has the following permissions:
    </p>
    <ul class="list-inside list-disc my-2">
      <li *ngFor="let permission of getAccountPermissions(accountType)" class="list-item">{{ permission }}</li>
    </ul>
  </div>

  <button styled-blue [routerLink]="['']" class="mt-4">Go to Reviews</button>
</div>
