<form [formGroup]="selectVariableTimeForm" (ngSubmit)="this.submit()">
  <div class="inline-block">
    <p class="font-semibold text-sm">Days</p>
    <ui-form-error [formGroup]="selectVariableTimeForm" [errorFor]="'dayOfWeek'" [showErrors]="showErrorValidations$"></ui-form-error>
    <input styled formControlName="dayOfWeek" placeholder="Weekdays" />
  </div>

  <div class="inline-block">
    <p class="font-semibold text-sm">Times</p>
    <ui-form-error [formGroup]="selectVariableTimeForm" [errorFor]="'timeOpen'" [showErrors]="showErrorValidations$"></ui-form-error>
    <input styled formControlName="timeOpen" placeholder="6:30 - 8:30 ET" />
  </div>

  <button styled-simple type="submit"><i class="fa-solid fa-plus"></i></button>
</form>

<ng-container *ngFor="let hour of hoursList">
  <div class="my-2">
    <button styled-simple type="button" class="inline-block" (click)="deleteTime(hour)"><i class="fa-solid fa-minus"></i></button>

    <p class="text-xs lg:text-sm inline-block py-2 mx-2">{{ hour.variableDay }}: {{ hour.variableTimes }}</p>
  </div>
</ng-container>
