@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #eaeaea;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.ng-submitted input.ng-invalid {
  border: 2px solid rgb(244, 92, 92);
}

.ng-submitted input.ng-valid {
  border: 2px solid rgb(102, 235, 133);
}
