@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #eaeaea;
}

@font-face {
  font-family: 'FFXIV';
  font-weight: 300;
  src: local('FFXIV'), url('../font/ffxiv.woff') format('woff');
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
