@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #eaeaea;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.ng-submitted input.ng-invalid {
  border: 2px solid rgb(220, 38, 38);
}

.ng-submitted input.ng-valid {
  border: 2px solid rgb(34, 197, 94);
}
